html {
    background-color: #cecece;
}
body {
    margin: 0; padding: 0;
}
canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    border: 3px solid black;
}

.optionPanel {
    position: fixed;
    margin: 0; padding: 5px 10px 5px 10px;

    background-color: rgb(150,150,150);
}
.canvasPanel {
    padding-top: 50px;
}

/*
    Navigation
*/

.nav-panel {
    background-color: #4b4b4b;
}


.nav-title h1{
    text-decoration: none;
    font-family: Verdana;

    color: #eeeeee;
}

.nav-title {
        display: inline-block;
    margin: 25px;
}
.nav-controls {
    float: left;
    display: inline-block;
    margin: 1em;
}

/*
    Main index site
*/

.main {
    margin: auto;
}

.main-links {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    margin-top: 50px;
    text-align: center;
}
.main-links a{
    display: block;
    margin-bottom: 0.5em;
    font-size: 3em;
    font-family: monospace;
    text-decoration: none;
}